body,p,input,button,select,textarea {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

.navbar {
	margin-bottom: 17px;
}

.navbar-fixed-top {
	position: relative;
	z-index: 0;
}

.footer {
	clear: both;
	text-align: center;
	margin: 20px auto;
}
.post {
	font-size: 13px;
	line-height: 160%;
	margin-bottom: 18px;
}
.post img {
	clear: both;
	border: none;
	float: right;
	display: block;
	margin: 0;
	padding: 0 0 20px 20px;
}

.post-title {
	margin-top: 0;
	margin-bottom: 0.5em;
}

.post-title a {
	color: black;
	text-decoration: none;
}
.post-title a:hover {
	border-bottom:1px solid #333;
}
.post-info {
	color: #666;
	font-size: 87%;
	line-height: 1.6em;
	margin-bottom: 2em;
}
.post-info a {
	color: #666;
}

.cloud {
	margin-bottom: 1em;
}
