<div class="box fn-clear">
	<img src="/images/psb.jpg" alt="about theme"/>
	<p>{{ site.about }}</p>
</div>
<div id="olympic-hot-news"><h4>奥运热点话题</h4>
<ul style="padding-left:16px;margin-top:10px;">
<li style="list-style:disc;margin-bottom:5px"><a href="http://2012.renren.com/yisiling" target="_blank">#为中国奥运首金喝彩#</a></li>	
<li style="list-style:disc;margin-bottom:5px"><a href="http://2012.renren.com/wanghao" target="_blank">#男单决赛张继科胜王皓#</a></li>	
<li style="list-style:disc;margin-bottom:5px"><a href="http://2012.renren.com/nvzitiaotai" target="_blank">#女子10米跳台独孤求败#</a></li>	
<li style="list-style:disc;margin-bottom:5px"><a href="http://2012.renren.com/jiaoliuyang" target="_blank">#游泳焦刘洋破纪录夺冠#</a></li>	
<li style="list-style:disc;margin-bottom:5px"><a href="http://2012.renren.com/tiaotai" target="_blank">#90后跳水正太闪耀伦敦#</a></li>	
</ul></div>